.not-found-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}
@media screen and (max-width: 767px) {
  .not-found-image {
    height: 200px;
    width: 200px;
  }
  .page-not-found-heading {
    color: #ffffff;
    font-size: 20px;
  }
  .page-not-found-info {
    margin-top: 0;
    color: #f1f5f9;
    font-size: 12px;
  }
}
.page-not-found-heading {
  color: #ffffff;
}
.page-not-found-info {
  margin-top: 0;
  color: #f1f5f9;
}
